body{
    text-align: center;
    color: white;
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/webb-dark.png');
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 500%;
    font-family: 'Archivo Narrow', sans-serif;
    background-color: black;
    color: red;
    padding: 3%

}

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@1,700&display=swap');


h2{
    font-size: 500%;
}

ol li{
    font-size: 300%;
}

ol{
    list-style: none;
}

ol p{
    font-size: 200%;
}

h3{
    font-size: 200%;
}

img{
    width: 90%;
    height: 80%;
}